.container {
  height: 100vh;
  width: 100wh;
  padding: 50px;
  background-color: lightgrey;
}

.box-1 {
  background-color: orange;
  height: 25%;
}

.box-2 {
  background-color: khaki;
  height: 25%;
}

.box-3 {
  background-color: cornflowerblue;
  height: 50%;
}
